/* 페이지 공통 */
#container { border: 1px solid white; width: 1000px; height: 800px;
    margin: 0 auto; }
header { padding-left: 20px; }
nav { border-bottom: 2px solid black; }
nav ul { list-style: none; margin-bottom: 30px; }
nav ul li { float: left; margin-right: 20px; padding-left: 100px;}
nav ul li a:link { text-decoration: none; color: black; }
nav ul li a:visited { color: black; }
nav ul li a:hover { color: #b3d4fc; }
nav ul li a:active { color: lightcoral; }
main { width: 1000px; min-height: 700px; }
footer { text-align: center; border-top: 2px solid black; }

/* 회원가입, 로그인 */
main h3 { margin-left: 30px; }
form { margin: 0 auto; width: 350px; vertical-align: middle; }
div { padding: 5px; }
form label { display: inline-block; width: 110px; text-align: right;
    font-weight: bold; }
form input { padding: 5px; }
button { padding: 5px 7px; }

/* 새글 쓰기, 본문 보기 */
.dragup { vertical-align: top; }

/* list */
.list h3 { margin-left: 30px; }

.board { width: 700px; margin: 0 auto; table-layout: fixed; }
.board td { text-align: center; padding: 7px; }
.board th { padding: 7px; border-top: 1px solid black; }
.board td:nth-child(2) { white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis; }
.board td:nth-child(odd) { background: lightblue; }
.board td:nth-child(even) { background: lightsteelblue; }

.alignlft {  }
.alignlft select { margin: 0 10px; }
.alignlft input { margin: 0 10px; }
.alignlft button { margin: 0 10px; }
.alignrgt { text-align-last: right; }

.link a:link { text-decoration: none; color: black; }
.link a:visited { color: black; }
.link a:hover { color: #b3d4fc; }
.link a:active { color: lightcoral; }

.pagenation { list-style: none; padding: 0; margin: 0 auto;
    width: 435px;}
.pagenation li { display: inline-block; padding: 10px; }
.cpage { font: bold 48px '맑은 고딕'; color: red; }
.prev { color: #cccccc }

colgroup col:first-child { width: 10%; }
colgroup col:nth-child(3) { width: 15%; }
colgroup col:nth-child(4) { width: 15%; }
colgroup col:last-child { width: 10%; }

/* myinfo */
h3 { margin-left: 30px; }
.myinfo { width: 300px; margin: 0 auto; border-collapse: collapse; }
.myinfo, .myinfo td { /*border: 1px solid black;*/ }
.myinfo td { padding: 5px 5px 5px 10px; }
.myinfo td:first-child { font-weight: bold; text-align: right; }

/* write */
.writefrm { width: 600px; margin: 50px auto; }
.writefrm div label { padding-right: 10px; }

/* recaptcha 이미지 */
.cap {
    display: inline-flex;
    padding: 0;
    margin: -10px 0 0 -10px;
    width: 200px;
}
/*
.cap2 {
    display: inline-flex;
    padding: 0;
    margin: -10px 0 0 -10px;
    width: 200px;
}*/

/* 로그아웃 버튼 */
.logout {
    position: absolute;
    top: 50%;
    left: 47%;
}
