.list h3 { margin-left: 30px; }

.board { width: 700px; margin: 0 auto; table-layout: fixed; }
.board td { text-align: center; padding: 7px; }
.board th { padding: 7px; border-top: 1px solid black; }
.board td:nth-child(2) { white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis; }
.board td:nth-child(odd) { background: lightblue; }
.board td:nth-child(even) { background: lightsteelblue; }

.alignlft {  }
.alignlft select { margin: 0 10px; }
.alignlft input { margin: 0 10px; }
.alignlft button { margin: 0 10px; }
.alignrgt { text-align-last: right; }

.link a:link { text-decoration: none; color: black; }
.link a:visited { color: black; }
.link a:hover { color: #b3d4fc; }
.link a:active { color: lightcoral; }

.pagenation { list-style: none; padding: 0; margin: 0 auto;
    width: 435px;}
.pagenation li { display: inline-block; padding: 10px; }
.cpage { font: bold 48px '맑은 고딕'; color: red; }
.prev { color: #cccccc }

colgroup col:first-child { width: 10%; }
colgroup col:nth-child(3) { width: 15%; }
colgroup col:nth-child(4) { width: 15%; }
colgroup col:last-child { width: 10%; }