h3 { margin-left: 30px; }
.myinfo { width: 300px; margin: 0 auto; border-collapse: collapse; }
.myinfo, .myinfo td { /*border: 1px solid black;*/ }
.myinfo td { padding: 5px 5px 5px 10px; }
.myinfo td:first-child { font-weight: bold; text-align: right; }